@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
  font-family: 'Varela Round', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
